<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Library Search</title>
    <meta name="description" content="Find the book you're looking for!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block title %}
    <h1>Library Search</h1>
    {% endblock %}
    <hr>
    <span>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'search' %}">Search</a>
      <a href="{% url 'libraries' %}">Libraries</a>
      <a href="{% url 'librarians' %}">Librarians</a>
    <span>
    {% block content %}
    {% endblock %}
  </body>
</html>
