{% extends "base_generic.html" %}
{% block content %}
  <h3> Catalogue for {{ library.name }}:</h3>
  {% if organized %}
    <ul>
      {% for book in organized %}
        <li>
          <p>
            <em> Titile: {{ book.0.title }}</em>
          </p>
          <p>
            Author(s):
            {% for author in book.1 %}
              {{ author.name }}<br />
            {% endfor %}
          </p>
          <p>
            Description:<br />
            {{ book.0.description }}
          </p>
          <p>
            Genre: {{ book.0.genre }}
          </p>
          <p>
            Date Published: {{ book.0.datePublished }}
          </p>
          <p>
            Publisher: {{ book.2 }}
          </p>
          <p>
            Number Available: {{ book.3.getCount }}
          </p>
					<br>
					<a href="{% url 'checkout' book.0.id %}"><button>Checkout</button></a>
        </li>
				<br />
      {% endfor %}
    </ul>
  {% else %}
    <h5>
    Unfortunately, there are no books at this library
    </h5>
  {% endif %}
{% endblock %}
