{% extends "base_generic.html" %}
{% block content %}
  <h3> Catalogue for {{ library.name }}:</h3>
  {% if books %}
    <ul>
      {% for book in books %}
        <li>
          <bold> {{ str(book) }}</bold>
          <p>
            Author(s):
            {% for author in authors[book.id] %}
              {{ author }}<br />
            {% endfor %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h5>
    Unfortunately, there are no books at this library
    </h5>
  {% endif %}
{% endblock %}
