{% extends "base_generic.html" %}
{% block content %}
  <h3>Librarians in your area:</h3>
  {% if librarians %}
    {% for lib in librarians %}
      <h5>
        <p>
          <em>{{ lib.0 }}</em> <br />
          Library: {{ lib.1 }}<br />
          Genre:<br />
					{% for each in lib.2 %}
  					{{ each.genre }} <br />
          {% endfor %}
        </p>
      </h5>
    {% endfor %}
  {% else %}
    <h5>
    Unfortunately, there are no librarians in your area.
    </h5>
  {% endif %}
{% endblock %}
