{% extends "base_generic.html" %}


{% block title %}
<h1>Library Search</h1>
{% endblock %}


{% block content %}
  <h3>Welcome {{ user_name }}</h3>
  <h3>Smart Search</h3>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Search">
  </form>
  <hr>
  {% if results %}
    {% if bookIds %}
      {% for each in results %}
        {% for id in bookIds %}
          <h5>{{ each }}</h5>
          <a href="{% url 'checkout' id %}">checkout</a>
        {% endfor %}
      {% endfor %}
    {% else %}
      <h5>{{ results[0] }}</h5>
    {% endif %}
  {% endif %}
{% endblock %}
